* {
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #eee;
}

.container {
    max-width: 1194px;
    margin: auto;
}

.menu {
    position: sticky;
    overflow: visible;
    top: 0;
    right: 0;
    max-width: 120px;
    height: 0;
    display: flex;
    flex-direction: column;
}

.menu-link {
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: #000;
}

.menu-link::after {
    content: "»";
}


.header {
    display: flex;
    flex-direction: row;
}

.me {
    background-color: rgba(160, 254, 153, 0.5);
    border-radius: 20px;
    flex: 66.66%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 20px;
}

.me-portrait {
    outline: 3px solid #000;
    background: no-repeat center/cover url('../img/portrait.png');
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.me-briefly {
    margin-left: 20px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.me-name {
    font-size: 35px;

}

.me-position {
    font-size: 25px;
    color: #444;
}

.my-contacts {
    flex: 33.33%;
    border-radius: 20px;
    background-color: rgba(160, 254, 153, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 40px;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact-img {
    height: 20px;
    width: 20px;
    background: no-repeat center/cover;
}

.img-email {
    background: url('../img/email.png');
}

.img-phone {
    background: url('../img/phone.png');
}

.img-telegram {
    background: url('../img/telegram.png');
}

.img-linkedin {
    background: url('../img/linkedin.png');
}

.img-github {
    background: url('../img/github.png');
}

.contact-link {
    color: #fff;
    text-shadow: 0 0 5px #000;
}

.section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgba(160, 254, 153, 1);
    padding: 20px;
    border-radius: 20px;
}

.title {
    font-size: 30px;
    padding: 20px;
}

.about-me {
    outline: 3px solid #000;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.about-me-text {
    flex: 66.66%;
}

.about-me-list {
    flex: 33.33%;
    font-size: 24px;
    line-height: 60px;
    padding-left: 150px;
    font-style: italic;
}

.tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 550px;
}

.tile {
    outline: 3px solid #000;
    min-width: 200px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 20px;
    background-color: #fff;
}

.tile-img {
    height: 200px;
    background: no-repeat center/cover;
    margin-bottom: 20px;
}

.img-lyceum-bsu {
    background-image: url('../img/lyceum-bsu.jpg');
}

.img-bsu {
    background-image: url('../img/bsu.jpg');
}

.years {
    font-size: 20px;
    font-style: italic;
}

.institution-name {
    font-weight: 700;
}

.additional-info {
    max-width: 200px;
    font-style: italic;
    font-size: 18px;
    text-align: center;
}

.small-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-expertsoft {
    background: url('../img/expertsoft.jpg');
}

.img-innowise {
    background: url('../img/innowise.jpg');
}

.project-tile {
    align-items: center;
    padding: 20px;
    max-width: 300px;
}

.project-name {
    font-weight: 700;
}


.project-list {
    margin: 20px;
    text-align: left;
}

.project-link {
    font-size: 18px;
    color: #0f0;
}

.skill-box {
    outline: 3px solid #000;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.skill {
    background-color: rgba(160, 254, 153, 1);
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}

.skill-name {
    font-size: 24px;
    font-weight: 700;
}

.footer {
    margin-top: 50px;
}

.contacts-scroll {
    margin: auto;
    background: rgba(160, 254, 153, 1);
    outline: 3px solid #000;
    border: none;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 200px;
    margin-bottom: 50px;
}

.contacts-scroll:hover {
    cursor: pointer;
}

.contacts-scroll-img {
    width: 24px;
    height: 24px;
    background: no-repeat center/cover url('../img/arrow.png');
}